


<div class="container mt-5">

<div class="row">

  <div class="col-md-4">
    <div class="card p-3" (click)="goStudents()" style="cursor:pointer">
      <h4>Students</h4>
      <p>View all student data</p>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card p-3" (click)="goMentor()" style="cursor:pointer">
      <h4>Mentors</h4>
      <p>View mentor data</p>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card p-3" (click)="goAssign()" style="cursor:pointer">
      <h4>Assign Mentees</h4>
      <p>Assign students to mentors</p>
    </div>
  </div>
  <div class="card p-3 m-2" (click)="goToAnnouncement()" style="cursor:pointer">
  <h5>Make Announcement</h5>
</div>

</div>

</div>