<div class="container mt-5" style="max-width:400px;">

<h3 class="text-center mb-4">Student Login</h3>

<div class="mb-3">

<label>Email</label>

<input
type="text"
class="form-control"
placeholder="Enter Email"
[(ngModel)]="loginData.email"
/>

</div>


<div class="mb-3">

<label>Password</label>

<input
type="password"
class="form-control"
placeholder="Enter Password"
[(ngModel)]="loginData.password"
/>

</div>


<button
class="btn btn-primary w-100"
(click)="login()"
>
Login
</button>


<p style="color:green; margin-top:15px;" *ngIf="successMsg">
{{successMsg}}
</p>

<p style="color:red; margin-top:15px;" *ngIf="errorMsg">
{{errorMsg}}
</p>

</div>