<div class="container mt-5">
  <div class="row justify-content-center">
    
    <div class="col-md-4">

      <div class="card p-4">

        <h3 class="text-center mb-4">Admin Login</h3>

        <div class="mb-3">
          <input
            type="email"
            class="form-control"
            placeholder="Email"
            [(ngModel)]="loginData.email"
          />
        </div>

        <div class="mb-3">
          <input
            type="password"
            class="form-control"
            placeholder="Password"
            [(ngModel)]="loginData.password"
          />
        </div>

        <button class="btn-primary" (click)="login()">
          Login
        </button>

        <p class="text-success mt-3 text-center" *ngIf="successMsg">
          {{ successMsg }}
        </p>

        <p class="text-danger mt-3 text-center" *ngIf="errorMsg">
          {{ errorMsg }}
        </p>

      </div>

    </div>

  </div>
</div>