<h2>My Assigned Students</h2>

<table border="1" *ngIf="students.length > 0; else noData">
  <tr>
    <th>Name</th>
    <th>Registration</th>
    <th>Department</th>
    <th>Contact</th>
    <th>Email_id</th>
    <th>City</th>
    <th>state</th>
    <th>Branch</th>
    <th>ZipCode</th>
    <th>Gender</th>
    <th>EmergencyContact</th>
  </tr>

  <tr *ngFor="let s of students">
    <td>{{ s.fullName }}</td>
    <td>{{ s.registrationNumber }}</td>
    <td>{{ s.department }}</td>
    <td>{{ s.phoneNumber }}</td>
    <td>{{ s.email }}</td>
    <td>{{ s.city }}</td>
    <td>{{ s.state }}</td>
    <td>{{ s.branch }}</td>
    <td>{{ s.zipCode }}</td>
    <td>{{ s.gender }}</td>
    <td>{{ s.emergencyContact }}</td>
  </tr>
</table>

<ng-template #noData>
  <p>No students assigned</p>
</ng-template>